@charset "UTF-8";
:root {
  --color-primary: #212121;
  --color-secondary: #FFFFFF;
  --color: #2196F3;
  --color-third: #757575;
  --color-fourth: rgba(255, 255, 255, 0.6);
  --color-logo-header: #000000;
  --color-logo-footer: #FFFFFF;
  --color-background-primary: #E5E5E5;
  --color-background-secondary: #2F303A;
  --color-background-third: #FFFFFF;
  --color-background-fourth: #2196F3;
  --color-background-fifth: #F5F4FA;
  --font-family-primary: "Roboto", sans-serif;
  --font-family-logo: "Raleway", sans-serif;
  --color-border: #EEEEEE;
  --color-border-hover: #2196F3;
  --color-background-border: #FFFFFF;
  --color-background-images-comand: #FFFFFF;
  --color-background-border-header: #ECECEC;
  --color-background-icon: #FFFFFF;
  --color-background-icon-hover: #2196F3;
  --color-icon: #AFB1B8;
  --color-icon-hover: #FFFFFF;
  --color-background-icon-antenna: #F5F4FA;
  --color-border-icon: #AFB1B8;
  --color-icon-smartphone: #757575;
  --color-icon-clients: #AFB1B8;
  --color-icon-clients-hover: #2196F3;
  --color-icon-footer: #FFFFFF;
  --color-portfolio-overlay-text: #FFFFFF;
  --color-background-modal: #FFFFFF;
  --color-background-button-modal: #FFFFFF;
  --color-link-underline: #2196F3;
  --color-do-text: #FFFFFF;
  --color-modal-form-text: #757575;
  --color-modal-form-text-title: #212121;
  --color-modal-button-submit-text: #FFFFFF;
  --color-background-modal-button-submit: #2196F3;
  --color-footer-button-submit-text: #FFFFFF;
  --color-background-footer-button-submit: #2196F3;
  --color-footer-email-text: rgba(255, 255, 255, 0.6);
  --color-border-modal-input: #2196F3;
  --color-modal-icon: #212121;
  --color-modal-icon-X: #2196F3;
  --color-modal-icon-focus: #2196F3;
  --color-footer-form-icon: #FFFFFF;
  --color-background-modal-icon-checkbox: #2196F3;
  --color-modal-icon-border: #212121;
  --color-modal-icon-checkbox: #FFFFFF;
  --color-modal-link-text: #2196F3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.overlay {
  min-height: 400px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Headerimg-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Headerimg-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Headerimg-tablet.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Headerimg-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Headerimg-desktop.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/Headerimg-desktop@2x.jpg);
  }
}
/*.overlay {
    height: 400px;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    background-image: 
        linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
       ),
       url(../images/Headerimg-tablet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

} */
/*
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
        .overlay {
            background-image: 
                linear-gradient(
                to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
               ),
               url(../images/Headerimg-mobile@2x.jpg);
         }
    }*/
/*
@media screen and (min-width: 1200px) {
    .overlay {
        height: 600px;
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
        background-image: 
            linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
           ),
           url(../images/Img\ header.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

    }
}*/
/*.overlay {
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: 
        linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
       ),
       url(../images/Img\ header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}*/
body {
  font-family: var(--font-family-primary);
  color: var(--color-primary);
  background-color: var(--color-secondary);
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* Normalize */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) 
nav-menu
menu-сontacts
subtitle
image
title-images
address-contacts
filters-item
title-project
address-contacts */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu {
  list-style: none;
  margin-right: 0px;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
.link {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.do-section-do {
  padding-top: 0;
}

.button-icon {
  fill: var(--color-icon);
  background-color: var(--color-background-icon);
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-icon-social {
  width: 20px;
  height: 20px;
  fill: var(--color-icon);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-icon:hover,
.button-icon:focus {
  background-color: var(--color-background-icon-hover);
  fill: var(--color-icon-hover);
}

.button-icon-social:hover,
.button-icon-social:focus {
  fill: var(--color-icon-hover);
}

.button-icon:hover .button-icon-social,
.button-icon:focus .button-icon-social {
  fill: var(--color-icon-hover);
}

.button:active {
  background-color: var(--color-background-fourth);
  color: var(--color-secondary);
}

.form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

.form-field {
  display: flex;
  flex-direction: column;
  padding: 0;
  position: relative;
  outline: none;
}
.form-field + .form-field {
  margin-top: 10px;
}
.form-field__label {
  margin-bottom: 4px;
  font-family: var(--font-family-primary);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666;
  text-align: left;
  letter-spacing: 0.01em;
  color: var(--color-modal-form-text);
  display: flex;
  align-items: center;
}
.form-field__input {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 10px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__input:focus {
  border: 1px solid #2196F3;
  outline: none;
}
.form-field__input:focus ~ .form-field__modal-icon {
  fill: var(--color-modal-icon-focus);
}
.form-field__coment {
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 120px;
  font-family: var(--font-family-primary);
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666;
  text-align: left;
  margin-bottom: 4px;
  letter-spacing: 0.01em;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__coment:focus {
  border: 1px solid #2196F3;
  outline: none;
}

textarea {
  resize: none;
}

@media screen and (min-width: 768px) {
  .logo-header {
    font-family: var(--font-family-logo);
    color: var(--color-background-fourth);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    text-decoration: none;
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: 88px;
  }
  .logo-header-text {
    font-family: var(--font-family-logo);
    color: var(--color-logo-header);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    text-decoration: none;
  }
}
@media screen and (min-width: 1200px) {
  .logo-header {
    font-family: var(--font-family-logo);
    color: var(--color-background-fourth);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    text-decoration: none;
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: 93px;
  }
  .logo-header-text {
    font-family: var(--font-family-logo);
    color: var(--color-logo-header);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    text-decoration: none;
  }
}
.logo-header {
  font-family: var(--font-family-logo);
  color: var(--color-background-fourth);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  text-decoration: none;
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 93px;
}

.logo-header-text {
  font-family: var(--font-family-logo);
  color: var(--color-logo-header);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  text-decoration: none;
}

/*.logo-header {
    font-family: var(--font-family-logo);
    color: var(--color-background-fourth);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    text-decoration: none;
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
}

.logo-header-text {
    font-family: var(--font-family-logo);
    color: var(--color-logo-header);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    text-decoration: none;
}*/
@media screen and (min-width: 480px) {
  .hero-section {
    background-color: var(--color-background-secondary);
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
  }
  .hero-section__title {
    color: var(--color-secondary);
    font-family: var(--font-family-primary);
    font-size: 26px;
    line-height: 1.6153;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 360px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .hero-section__button {
    padding: 10px 32px;
    color: var(--color-secondary);
    background-color: var(--color-background-fourth);
    border: none;
    border-radius: 4px;
    text-align: center;
    font-family: inherit;
    line-height: 1.875;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hero-section__button:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  .hero-section__button:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  .hero-section__button:active {
    background-color: var(--color-background-fourth);
  }
  .hero-title {
    color: var(--color-secondary);
    font-size: 44px;
    text-align: center;
    line-height: 1.3636;
    text-align: center;
    background-color: var(--color-background-secondary);
  }
}
@media screen and (min-width: 768px) {
  .hero-section {
    background-color: var(--color-background-secondary);
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
  }
  .hero-section__title {
    color: var(--color-secondary);
    font-family: var(--font-family-primary);
    font-size: 26px;
    line-height: 1.6153;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 360px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .hero-section__button {
    padding: 10px 32px;
    color: var(--color-secondary);
    background-color: var(--color-background-fourth);
    border: none;
    border-radius: 4px;
    text-align: center;
    font-family: inherit;
    line-height: 1.875;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hero-section__button:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  .hero-section__button:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  .hero-section__button:active {
    background-color: var(--color-background-fourth);
  }
  .hero-title {
    color: var(--color-secondary);
    font-size: 44px;
    text-align: center;
    line-height: 1.3636;
    text-align: center;
    background-color: var(--color-background-secondary);
  }
}
@media screen and (min-width: 1200px) {
  .hero-section {
    background-color: var(--color-background-secondary);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero-section__title {
    color: var(--color-secondary);
    font-family: var(--font-family-primary);
    font-size: 44px;
    line-height: 1.3636;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .hero-section__button {
    padding: 10px 32px;
    color: var(--color-secondary);
    background-color: var(--color-background-fourth);
    border: none;
    border-radius: 4px;
    text-align: center;
    font-family: inherit;
    line-height: 1.875;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hero-section__button:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  .hero-section__button:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  .hero-section__button:active {
    background-color: var(--color-background-fourth);
  }
  .hero-title {
    color: var(--color-secondary);
    font-size: 44px;
    text-align: center;
    line-height: 1.3636;
    text-align: center;
    background-color: var(--color-background-secondary);
  }
}
/*.hero-section {
    background-color: var(--color-background-secondary);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

    &__title {
        color: var(--color-secondary);
        font-family: var(--font-family-primary);
        font-size: 44px;
        line-height: 1.3636;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        max-width: 696px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    &__button {
        padding: 10px 32px;
        color: var(--color-secondary) ;
        background-color: var(--color-background-fourth);
        border: none;
        border-radius: 4px;
        text-align: center;
        font-family: inherit;
        line-height: 1.875;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.06em;
        cursor: pointer;
        display: inline-block;
        margin: 0 auto;

        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);    
    }

    &__button:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }    

    &__button:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    } 

    &__button:active {
        background-color: var(--color-background-fourth);
    } 
}

.hero-title {
    color: var(--color-secondary);
    font-size: 44px;
    text-align: center;
    line-height: 1.3636;
    text-align: center;
    background-color: var(--color-background-secondary);
}*/
.title {
  color: var(--color-primary);
  font-family: var(--font-family-primary);
  font-size: 36px;
  line-height: 0.8571;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.06em;
  margin-bottom: 50px;
}

.title-form {
  font-family: var(--font-family-primary);
  color: var(-color-modal-form-text-title);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
}

.especially-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--color-secondary);
}
.especially-section__list {
  display: flex;
  flex-wrap: wrap;
}
.especially-section__item {
  max-width: 270px;
  margin: 0 auto;
}
.especially-section__item + .especially-section__item {
  margin-left: 30px;
}
.especially-section__name {
  text-transform: uppercase;
  font-family: var(--font-family-primary);
  color: var(--color-primary);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  text-align: left;
  margin-bottom: 10px;
}
.especially-section__text {
  font-family: var(--font-family-primary);
  color: var(--color-third);
  font-weight: 400;
  line-height: 1.7142;
  text-align: left;
}

.especially-item {
  color: var(--color-secondary);
  background-color: var(--color-background-icon-antenna);
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.especially-item__icon {
  width: 70px;
  height: 70px;
}

.comand-section {
  background-color: var(--color-background-fifth);
  padding-top: 94px;
  padding-bottom: 94px;
}
.comand-section__image {
  margin-bottom: 30px;
}
.comand-section__list {
  display: flex;
}
.comand-section__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--color-background-images-comand);
}
.comand-section__item + .comand-section__item {
  margin-left: 30px;
}
.comand-section__subtitle {
  font-family: var(--font-family-primary);
  color: var(--color-primary);
  font-weight: 500;
  Font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  margin-bottom: 10px;
}
.comand-section__description {
  font-family: var(--font-family-primary);
  color: var(--color-third);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  margin-bottom: 16px;
}

.comand-section-actions__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 30px;
}
.comand-section-actions__item {
  display: flex;
  width: 44px;
  height: 44px;
}
.comand-section-actions__item + .comand-section-actions__item {
  margin-left: 10px;
}

.do-section {
  padding-top: 0px;
  padding-bottom: 94px;
}
.do-section__list {
  display: flex;
}
.do-section__item {
  flex-wrap: wrap;
}
.do-section__item + .do-section__item {
  margin-left: 30px;
}

.do-thumb {
  position: relative;
  display: flex;
  width: 370px;
  margin: 0 auto;
  padding: 0px;
}
.do-thumb__list {
  position: absolute;
  display: flex;
  width: 370px;
  height: 71px;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0px;
}
.do-thumb__description {
  font-family: var(--font-family-primary);
  color: var(--color-do-text);
  size: 14px;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 1.1428;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-section__list {
  display: flex;
}
.clients-section__item {
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  border: 1px solid var(--color-border-icon);
  width: 170px;
  height: 92px;
  display: flex;
  fill: var(--color-icon-clients);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-section__item:hover, .clients-section__item:focus {
  fill: var(--color-icon-clients-hover);
  border: 1px solid var(--color-border-hover);
}
.clients-section__item + .clients-section__item {
  margin-left: 30px;
}
.clients-section__logo {
  width: 106px;
  height: 60px;
  list-style: none;
}
.clients-section__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
}

.section-portfolio {
  background-color: var(--color-secondary);
  padding-top: 100px;
  padding-bottom: 94px;
}
.section-portfolio__button-filter {
  color: var(--color-primary);
  background-color: var(--color-background-fifth);
  border-radius: 4px;
  border: 1px solid var(--color-border);
  text-align: center;
  font-family: inherit;
  line-height: 1.625;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-portfolio__button-filter:hover {
  background-color: var(--color-background-fourth);
  color: var(--color-secondary);
  border: 1px solid var(--color-border-hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.section-portfolio__button-filter:focus {
  background-color: var(--color-background-fourth);
  color: var(--color-secondary);
  border: 1px solid var(--color-border-hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.section-portfolio__item-filter {
  display: flex;
  justify-content: center;
}
.section-portfolio__item-filter + .section-portfolio__item-filter {
  margin-left: 8px;
}
.section-portfolio__list-filter {
  font-family: var(--font-family-primary);
  color: var(--color-primary);
  font-style: medium;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-portfolio__list-filter:hover {
  color: var(--color-secondary);
}
.section-portfolio__list-filter:focus {
  color: var(--color-secondary);
}
.section-portfolio__list-project {
  flex-wrap: wrap;
  display: flex;
}
.section-portfolio__item-project {
  font-family: var(--font-family-primary);
  color: var(--color-primary);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.section-portfolio__item-project:nth-child(3n) {
  margin-right: 0px;
}
.section-portfolio__item-project:nth-last-child(-n+3) {
  margin-bottom: 0px;
}
.section-portfolio__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-portfolio__link:hover, .section-portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.section-portfolio__link:hover .portfolio-thumb-overlay {
  transform: translateY(0%);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-thumb::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
}
.portfolio-thumb__image {
  display: block;
}

.portfolio-thumb-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-thumb-overlay__description {
  font-family: var(--font-family-primary);
  color: var(--color-portfolio-overlay-text);
  size: 18px;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.5555;
  text-align: left;
  letter-spacing: 0.03em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 322px;
  max-height: 168px;
  margin: 0 auto;
  position: absolute;
}

.portfolio-project-item {
  border-left: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-background-border);
  padding: 20px 24px;
}
.portfolio-project-item__name {
  font-family: var(--font-family-primary);
  color: var(--color-primary);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  width: 322px;
  margin-right: 30px;
  margin-bottom: 4px;
}
.portfolio-project-item__description {
  font-family: var(--font-family-primary);
  color: var(--color-third);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0px;
}

.checkbox {
  width: 425px;
  height: 24px;
  left: 11.5px;
  color: var(--color-modal-form-text);
  display: flex;
  align-items: center;
  position: absolute;
}
.checkbox__icon {
  position: absolute;
  bottom: 4.5px;
  left: 0px;
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 10px;
  background-color: #FFFFFF;
  fill: var(--color-modal-icon-checkbox);
  border: 2px solid var(--color-modal-icon-border);
  border-radius: 4px;
}
.checkbox__link {
  font-family: var(--font-family-primary);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142;
  text-align: left;
  letter-spacing: 0.03em;
  color: var(--color-modal-link-text);
  display: flex;
  align-items: center;
  text-decoration: underline;
  position: absolute;
  right: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__description {
  font-family: var(--font-family-primary);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142;
  text-align: left;
  letter-spacing: 0.03em;
  color: var(--color-modal-form-text);
  align-items: center;
  left: 24.38px;
  position: absolute;
}
.checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  left: 0;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__input:checked + .checkbox__icon {
  border-color: transparent;
  background-color: var(--color-background-modal-icon-checkbox);
  background-size: contain;
  background-origin: border-box;
}

.form-field-checkbox {
  display: flex;
  width: 100%;
  height: 24px;
  margin-bottom: 30px;
  margin-top: 10px;
  padding: 0;
  position: relative;
  outline: none;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 796px;
    z-index: 1000;
    background-color: var(--color-background-third);
    top: 0;
    left: 0;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 500ms linear, visibility 500ms linear;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    padding-left: 25px;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .mobile-menu__close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
  /*.nav {
      display: flex;
      align-items: center;
  }*/
  .mobile-nav-menu {
    display: flex;
    align-items: center;
  }
  .mobile-nav-menu__item {
    display: inline-block;
  }
  .mobile-nav-menu__item + .nav-menu__item {
    margin-left: 50px;
  }
  .mobile-nav-menu__link {
    color: var(--color-primary);
    text-decoration: none;
    line-height: 1.1428;
    font-weight: 500;
    text-align: left;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-nav-menu__link:hover {
    color: var(--color);
  }
  .mobile-nav-menu__link:focus {
    color: var(--color);
  }
  .mobile-nav-menu .mobile-nav-menu__link.current {
    color: var(--color);
  }
  .mobile-nav-link {
    position: relative;
  }
  .mobile-link-nav-portfolio {
    position: relative;
  }
  /*.mobile-nav-link::after {
      content: '';
      display: block;
      width: 48px;
      height: 4px;
      background-color: var(--color-link-underline);
      position: absolute;
      left: 0;
      bottom: -1px;
      border-radius: 2px;
  }

  .mobile-link-nav-portfolio::after {
      content: '';
      display: block;
      width: 78px;
      height: 4px;
      background-color: var(--color-link-underline);
      position: absolute;
      left: 0;
      bottom: -1px;
      border-radius: 2px;
  }*/
  .mobile-menu-сontacts {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .mobile-menu-contacts__item + .mobile-menu-contacts__item {
    margin-left: 50px;
  }
  .mobile-menu-contacts__link {
    color: var(--color-third);
    text-decoration: none;
    line-height: 1.1428;
    font-weight: 500;
    text-align: left;
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    letter-spacing: 0.02em;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-contacts__link:hover {
    color: var(--color);
  }
  .mobile-menu-contacts__link:focus {
    color: var(--color);
  }
  .mobile-menu-contacts__link:hover {
    fill: var(--color-background-icon-hover);
  }
  .mobile-menu-social {
    display: flex;
    align-items: center;
  }
  .mobile-menu-social__item {
    display: inline-block;
  }
  .mobile-menu-social__item + .mobile-menu-social__item {
    margin-left: 50px;
  }
  .mobile-menu-social__link {
    color: var(--color-primary);
    text-decoration: none;
    line-height: 1.1428;
    font-weight: 500;
    text-align: left;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-social__link:hover {
    color: var(--color);
  }
  .mobile-menu-social__link:focus {
    color: var(--color);
  }
  .mobile-menu-social .mobile-menu-social__link.current {
    color: var(--color);
  }
  /*.mobile-menu-social-link {
      position: relative;
      }

  .mobile-link-nav-portfolio {
      position: relative;
  }*/
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/*.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-footer {
    display: flex;
    align-items: baseline;
}*/
.container {
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.section {
  background-color: var(--color-secondary);
}

@media screen and (max-width: 767px) {
  .nav-menu {
    display: none;
  }
  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    height: 40px;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
  }
  .nav-menu {
    display: flex;
    align-items: center;
  }
  .nav-menu__item {
    display: inline-block;
  }
  .nav-menu__item + .nav-menu__item {
    margin-left: 50px;
  }
  .nav-menu__link {
    color: var(--color-primary);
    text-decoration: none;
    line-height: 1.1428;
    font-weight: 500;
    text-align: left;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-menu__link:hover {
    color: var(--color);
  }
  .nav-menu__link:focus {
    color: var(--color);
  }
  .nav-menu .nav-menu__link.current {
    color: var(--color);
  }
  .nav-link {
    position: relative;
  }
  .link-nav-portfolio {
    position: relative;
  }
  .nav-link::after {
    content: "";
    display: block;
    width: 48px;
    height: 4px;
    background-color: var(--color-link-underline);
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
  }
  .link-nav-portfolio::after {
    content: "";
    display: block;
    width: 78px;
    height: 4px;
    background-color: var(--color-link-underline);
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    display: flex;
    align-items: center;
  }
  .nav-menu {
    display: flex;
    align-items: center;
  }
  .nav-menu__item {
    display: inline-block;
  }
  .nav-menu__item + .nav-menu__item {
    margin-left: 50px;
  }
  .nav-menu__link {
    color: var(--color-primary);
    text-decoration: none;
    line-height: 1.1428;
    font-weight: 500;
    text-align: left;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-menu__link:hover {
    color: var(--color);
  }
  .nav-menu__link:focus {
    color: var(--color);
  }
  .nav-menu .nav-menu__link.current {
    color: var(--color);
  }
  .nav-link {
    position: relative;
  }
  .link-nav-portfolio {
    position: relative;
  }
  .nav-link::after {
    content: "";
    display: block;
    width: 48px;
    height: 4px;
    background-color: var(--color-link-underline);
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
  }
  .link-nav-portfolio::after {
    content: "";
    display: block;
    width: 78px;
    height: 4px;
    background-color: var(--color-link-underline);
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
  }
}
/*.nav {
    display: flex;
    align-items: center;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu__item {
    display: inline-block;
}

.nav-menu__item + .nav-menu__item {
    margin-left: 50px;    
}

.nav-menu__link {
    color: var(--color-primary);
    text-decoration: none;
    line-height: 1.1428;
    font-weight: 500;
    text-align: left;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu__link:hover {
    color: var(--color);
}

.nav-menu__link:focus {
    color: var(--color);
}

.nav-menu .nav-menu__link.current {
    color: var(--color);
}

.nav-link {
    position: relative;
}

.link-nav-portfolio {
    position: relative;
}

.nav-link::after {
    content: '';
    display: block;
    width: 48px;
    height: 4px;
    background-color: var(--color-link-underline);
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
}

.link-nav-portfolio::after {
    content: '';
    display: block;
    width: 78px;
    height: 4px;
    background-color: var(--color-link-underline);
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
}   */
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
}
/*
 header {
    background-color: var(--color-background-third);   
    border-bottom: 1px solid var(--color-background-border-header);     
}

.header-inner {
    align-items: center;
    display: flex;
}
*/
@media screen and (max-width: 767px) {
  .menu-сontacts {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu-сontacts {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .menu-contacts__item + .menu-contacts__item {
    margin-left: 50px;
  }
  .menu-contacts__link {
    color: var(--color-third);
    text-decoration: none;
    line-height: 1.1428;
    font-weight: 500;
    text-align: left;
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    letter-spacing: 0.02em;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-contacts__link:hover {
    color: var(--color);
  }
  .menu-contacts__link:focus {
    color: var(--color);
  }
  .menu-contacts__icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    fill: var(--color-icon-smartphone);
  }
  .menu-contacts__link:hover .menu-contacts__icon {
    fill: var(--color-background-icon-hover);
  }
}
@media screen and (min-width: 1200px) {
  .menu-сontacts {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .menu-contacts__item + .menu-contacts__item {
    margin-left: 50px;
  }
  .menu-contacts__link {
    color: var(--color-third);
    text-decoration: none;
    line-height: 1.1428;
    font-weight: 500;
    text-align: left;
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    letter-spacing: 0.02em;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-contacts__link:hover {
    color: var(--color);
  }
  .menu-contacts__link:focus {
    color: var(--color);
  }
  .menu-contacts__icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    fill: var(--color-icon-smartphone);
  }
  .menu-contacts__link:hover .menu-contacts__icon {
    fill: var(--color-background-icon-hover);
  }
}
/*.menu-сontacts {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.menu-contacts__item + .menu-contacts__item {
    margin-left: 50px;
}

.menu-contacts__link {
    color: var(--color-third);
    text-decoration: none;
    line-height: 1.1428;
    font-weight: 500;
    text-align: left;
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    letter-spacing: 0.02em;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-contacts__link:hover {
    color: var(--color);
}

.menu-contacts__link:focus {
    color: var(--color);
}

.menu-contacts__icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    fill: var(--color-icon-smartphone);  
}

.menu-contacts__link:hover .menu-contacts__icon {
    fill: var(--color-background-icon-hover);
}*/
footer {
  background-color: var(--color-background-secondary);
  padding: 60px 0;
}

.footer__inner {
  display: flex;
  flex-direction: column;
}

.footer__logo {
  font-family: var(--font-family-logo);
  color: var(--color-background-fourth);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  text-decoration: none;
  margin-bottom: 20px;
  display: block;
}

.logo-footer-text {
  font-family: var(--font-family-logo);
  color: var(--color-logo-footer);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  text-decoration: none;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}

.footer-contacts-list {
  display: flex;
  flex-direction: column;
}

.footer-contacts__item {
  display: block;
}

.footer-contacts__item + .footer-contacts__item {
  margin-top: 9px;
}

.footer-contacts__link--start {
  color: var(--color-secondary);
  font-weight: 400;
  text-decoration: none;
  line-height: 1.7142;
  text-align: left;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__link {
  color: var(--color-fourth);
  text-decoration: none;
  font-weight: 400;
  line-height: 1.7142;
  text-align: left;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__link--start:hover,
.footer-contacts__link:hover {
  color: var(--color);
}

.footer-contacts__link--start:focus,
.footer-contacts__link:focus {
  color: var(--color);
}

.footer-social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.footer-social__link {
  color: var(--color-icon-footer);
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 50%;
  display: flex;
  width: 100%;
  height: 100%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover,
.footer-social__link:focus {
  background-color: var(--color-background-icon-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer-social__icon {
  width: 20px;
  height: 18px;
  fill: var(--color-icon-footer);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__icon:hover,
.footer-social__icon:focus {
  fill: var(--color-icon-hover);
}

.footer-social__item {
  width: 44px;
  height: 44px;
  display: flex;
}

.footer-social__item + .footer-social__item {
  margin-left: 10px;
}

.footer__description {
  text-transform: uppercase;
  font-family: var(--font-family-primary);
  color: var(--color-secondary);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  text-align: left;
  margin-bottom: 20px;
}

.footer__form {
  display: flex;
  width: 570px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

.form-field-footer {
  display: flex;
  margin-bottom: 0px;
  padding: 0;
  position: relative;
}

.form-field-footer__input {
  margin: 0;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  background-color: #2F303A;
  text-align: left;
  font-family: var(--font-family-primary);
  color: var(--color-footer-email-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  outline: none;
}

/*.form-field-footer__label {

}*/
.form-field-footer__button-submit {
  padding: 10px 29px;
  color: var(--color-footer-button-submit-text);
  background-color: var(--color-background-footer-button-submit);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-family: inherit;
  line-height: 1.875;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: inline-flex;
  margin: 0 auto;
  position: absolute;
  width: 200px;
  height: 50px;
}

.form-field-footer__button-submit::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: var(--color-link-underline);
  position: absolute;
  right: 28px;
  /*background-image: url('../images/icon_send.svg');*/
  margin-left: 10px;
}

.form-field-footer__button-icon {
  position: absolute;
  bottom: 11px;
  left: 148px;
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: var(--color-footer-form-icon);
}

.footer__inner + .footer__inner {
  margin-left: 70px;
}

.form-field-footer__input::-moz-placeholder {
  text-align: left;
  font-family: var(--font-family-primary);
  color: var(--color-footer-email-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.form-field-footer__input:-ms-input-placeholder {
  text-align: left;
  font-family: var(--font-family-primary);
  color: var(--color-footer-email-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.form-field-footer__input::placeholder {
  text-align: left;
  font-family: var(--font-family-primary);
  color: var(--color-footer-email-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s, visibility 0.5s;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--color-background-modal);
  border-radius: 4px;
  padding: 40px;
}

.modal__button {
  position: absolute;
  top: 14px;
  right: 14px;
  fill: black;
  background-color: var(--color-background-button-modal);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.modal__button-close {
  width: 18px;
  height: 18px;
  fill: black;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-close:hover {
  fill: var(--color-modal-icon-X);
}

.form-field__modal-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  right: 12px;
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: #FFFFFF;
  fill: var(--color-modal-icon);
}

.button-modal-submit {
  padding: 10px 55px;
  color: var(--color-modal-button-submit-text);
  background-color: var(--color-background-modal-button-submit);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-family: inherit;
  line-height: 1.875;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
  position: relative;
}/*# sourceMappingURL=main.css.map */