.header-inner {
    display: flex;
    align-items: center; 
    justify-content: space-between;  
}


@media screen and (min-width: 768px) {
    .mobile-menu-open {
        display: none;
    }
}

/*
 header {
    background-color: var(--color-background-third);   
    border-bottom: 1px solid var(--color-background-border-header);     
}

.header-inner {
    align-items: center;
    display: flex;
}
*/