:root {
    --color-primary: #212121;
    --color-secondary: #FFFFFF;
    --color: #2196F3;
    --color-third: #757575;
    --color-fourth: rgba(255, 255, 255, 0.6);
    --color-logo-header: #000000;
    --color-logo-footer: #FFFFFF;
    --color-background-primary: #E5E5E5;  
    --color-background-secondary: #2F303A;
    --color-background-third: #FFFFFF;
    --color-background-fourth: #2196F3;
    --color-background-fifth: #F5F4FA;
    --font-family-primary: 'Roboto', sans-serif;
    --font-family-logo: 'Raleway', sans-serif;
    --color-border: #EEEEEE;
    --color-border-hover: #2196F3;
    --color-background-border: #FFFFFF;
    --color-background-images-comand: #FFFFFF;   
    --color-background-border-header: #ECECEC;
    --color-background-icon: #FFFFFF; 
    --color-background-icon-hover: #2196F3;
    --color-icon: #AFB1B8;
    --color-icon-hover: #FFFFFF;
    --color-background-icon-antenna: #F5F4FA;
    --color-border-icon: #AFB1B8;
    --color-icon-smartphone: #757575;
    --color-icon-clients: #AFB1B8;
    --color-icon-clients-hover: #2196F3;
    --color-icon-footer: #FFFFFF;
    --color-portfolio-overlay-text: #FFFFFF;
    --color-background-modal: #FFFFFF;
    --color-background-button-modal: #FFFFFF;
    --color-link-underline: #2196F3;
    --color-do-text: #FFFFFF;
    --color-modal-form-text: #757575;
    --color-modal-form-text-title: #212121;
    --color-modal-button-submit-text: #FFFFFF;
    --color-background-modal-button-submit: #2196F3;
    --color-footer-button-submit-text: #FFFFFF;
    --color-background-footer-button-submit: #2196F3;
    --color-footer-email-text:  rgba(255, 255, 255, 0.6);
    --color-border-modal-input: #2196F3;
    --color-modal-icon: #212121;
    --color-modal-icon-X: #2196F3;
    --color-modal-icon-focus: #2196F3;
    --color-footer-form-icon: #FFFFFF;
    --color-background-modal-icon-checkbox: #2196F3;
    --color-modal-icon-border: #212121;
    --color-modal-icon-checkbox: #FFFFFF;
    --color-modal-link-text: #2196F3;
}
